<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Houston, we have a problem - {{@blog.title}}</title>
    {{> meta}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno.css"}}" />
    {{ghost_head}}
  </head>
  <body>
    <article>
      <section>
        <div class="astro-wrap">
          <a class="astronaut" href="#" title="return to base"></a>
        </div>
        <div class="mayday">
          <h2>
          Houston, we've got a problem. <br>
          Houston, 404 error appeared.
          </h2>
          <hr class="divider short">
          <h2>
          What happens now?
          </h2>
        </div>
        <div class="astro-options">
          <a id="tweet-button" href="https://twitter.com/intent/tweet?screen_name=alinpandichi&text=Hey%2C%20I%20404'd%20on%20your%20website%20http://apandichi.github.io{{url}}" class="btn small" data-related="alinpandichi">Tweet to me about it</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <a id="safe-button" class="btn small" href="/#open">Return to base</a>
        </div>
      </section>
    </article>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/uno.js"}}"></script>
    {{> google-analytics}}
  </body>
</html>
